:root {
  --main-color: #566CE6 ;
}

::-moz-selection {
  background-color: var(--main-color);
  color: #fff;
}

::selection {
  background-color: var(--main-color);
  color: #fff;
}

.margin-100 {
  margin: 20rem 5rem;
}

body {
  font-family: 'Almarai', sans-serif;
  font-size: 14px;
  color: #161c2d;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  direction: rtl;
}

.navbar {
  height: 75px;
}

.navbar .logo {
  width: 150px;
}

.navbar .nav-item {
  margin: 0 1rem;
}

.navbar .nav-item :hover {
  color: var(--main-color) !important;
}

.navbar i {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  direction: ltr;
}

.navbar i span {
  font-size: 14px;
  font-weight: 800;
  margin-left: 0.5rem;
}

.head-home {
  margin: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-home h3 {
  color: var(--main-color);
}

.head-home h1 {
  font-size: 70px;
  font-weight: 600;
  margin: 2rem 0;
}

.head-home p {
  font-size: 20px;
}

.head-home img {
  max-height: 600px;
}

.head-home .btn-primary {
  background-color: var(--main-color);
  padding: 1rem 2rem;
  border: 4px solid #7287FE;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

@media (max-width: 576px) {
  .head-home img {
    max-height: 300px;
  }
}

.benafit-section {
  margin: 5rem 0;
}

.benafit-section img {
  width: 400px;
}

.benafit-section p {
  font-size: 18px;
}

.third-section {
  margin: 15rem 0;
}

.third-section img {
  max-width: 350px;
}

.third-section p {
  font-size: 18px;
}

.third-section h5 {
  color: var(--main-color);
}

.third-section h1 {
  font-weight: 500;
}

@media (max-width: 576px) {
  .third-section .custmize {
    max-width: 200px;
  }
}

.app-section .btn-app {
  background-color: #252940;
  color: #fff;
  margin: 3rem 1rem;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.app-section i {
  font-size: 20px;
  color: var(--main-color);
}

@media (max-width: 580px) {
  .app-section h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  .app-section .btn-app {
    margin: 0.5rem auto;
    width: 250px;
    display: block;
    font-size: 2rem;
  }
  .app-section i {
    font-size: 2rem;
  }
}

.questions {
  margin: 10rem 0;
}

.questions .accordion-header .accordion-button {
  color: #3c4858;
}

.questions .accordion-header .accordion-button:focus {
  border-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.questions .accordion-header .accordion-button::after {
  margin-left: 0;
  margin-right: auto;
  color: var(--main-color) !important;
}

.footer {
  margin: 10rem 0 5rem 0;
}

.footer h4 {
  color: var(--main-color);
}

.footer .num {
  font-size: 20px;
  font-weight: 600;
}

.footer a {
  text-decoration: none;
  color: #3c4858 !important;
  font-size: 11px;
  margin: 0 1rem;
  letter-spacing: .02em;
}

.footer i {
  margin: 0 1rem;
  font-size: 25px;
  color: #252940;
}

.footer p {
  color: #3c4858;
  font-size: 11px;
}
/*# sourceMappingURL=main.css.map */